<component name="ArtifactManager">
  <artifact type="war" name="springssm-02:war">
    <output-path>$PROJECT_DIR$/springssm-02/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springssm-02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-ssm-02.war">
      <element id="artifact" artifact-name="springssm-02:war exploded" />
    </root>
  </artifact>
</component>