<component name="ArtifactManager">
  <artifact type="war" name="springssm-01:war">
    <output-path>$PROJECT_DIR$/springssm-01/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springssm-01</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springssm-01-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springssm-01:war exploded" />
    </root>
  </artifact>
</component>